<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="zuki.hdhomeruntray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <userSettings>
    <zuki.hdhomeruntray.Properties.Settings>
      <setting name="DiscoveryMethod" serializeAs="String">
        <value>Broadcast</value>
      </setting>
      <setting name="DiscoveryInterval" serializeAs="String">
        <value>TwoMinutes</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartAutomatically" serializeAs="String">
        <value>Disabled</value>
      </setting>
      <setting name="HoverActions" serializeAs="String">
        <value>Enabled</value>
      </setting>
      <setting name="UnpinAutomatically" serializeAs="String">
        <value>Disabled</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="VirtualLEDColorSet" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="HoverActionsDelay" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="ShowTunerTools" serializeAs="String">
        <value>Disabled</value>
      </setting>
    </zuki.hdhomeruntray.Properties.Settings>
  </userSettings>
</configuration>
