<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Version -->
  <?include $(var.ProjectDir)..\..\tmp\version\version.wxi ?>

  <!-- Build Environment -->
  <?include $(var.ProjectDir)buildenv.wxi ?>

  <Product Id="$(var.ProjectGuid)"
    Name="HDHomeRun System Tray"
    Language="1033"
    Version="$(var.ProjectVersion.4)"
    Manufacturer="ZukiSoft"
    UpgradeCode="E9655935-8B9E-4BB4-A452-302EF25F0232"> <!-- NEVER CHANGE THE UPGRADE CODE -->

    <Package InstallerVersion="405" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="hdhomeruntray.cab" EmbedCab="yes" />

    <!-- UPGRADES -->
    <MajorUpgrade DowngradeErrorMessage="A later version of HDHomeRun System Tray has been installed. Please uninstall that version before running HDHomeRun System Tray setup."/>

    <!-- DISALLOW ADVERTISED SHORTCUTS -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- DISALLOW CHANGE OPTION -->
    <Property Id="ARPNOMODIFY" Value="1" />

    <!-- ENVIRONMENTAL CONDITION: Windows 7 or higher -->
    <Condition Message='HDHomeRun System Tray requires Microsoft Windows 7 (or higher).'>
      (VersionNT >= 601)
    </Condition>

    <!-- ENVIRONMENTAL CONDITION: Microsoft .NET 4.6.2 -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="The Microsoft .NET Framework version 4.6.2 is not installed. Please install before installing HDHomeRun System Tray.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- C:\Program Files (x86)\ZukiSoft\HDHomeRun System Tray -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ZukiSoftBinFolder" Name="ZukiSoft">
          <Directory Id="HDHomeRunTrayBinFolder" Name="HDHomeRun System Tray"/>
        </Directory>
      </Directory>

      <!-- Fonts -->
      <Directory Id="FontsFolder"/>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder"/>

    </Directory>

    <!-- Default feature and components -->
    <Feature Id="feature_hdhomeruntray" Title="HDHomeRun System Tray" Level="1" TypicalDefault="install"
      Description="Installs the HDHomeRun System Tray application" Absent="disallow" AllowAdvertise="no">
      <?include addvcrt.wxi ?>
      <ComponentGroupRef Id="componentgroup_hdhomeruntray"/>
    </Feature>

    <ComponentGroup Id="componentgroup_hdhomeruntray">
      <ComponentRef Id="hdhomeruntray_exe"/>
      <ComponentRef Id="hdhomeruntray_exe_config"/>
      <ComponentRef Id="hdhomeruntray_discovery_dll"/>
      <ComponentRef Id="newtonsoft_json_dll"/>
      <ComponentRef Id="winjs_symbols_ttf"/>
    </ComponentGroup>

    <Component Id="hdhomeruntray_exe" Directory="HDHomeRunTrayBinFolder" Guid="16F99373-B2BB-49C0-907C-08A6AF1CBE83">
      <File Id="hdhomeruntray.exe" Source="$(var.ProjectBinFolder)hdhomeruntray.exe" Vital="yes" KeyPath="yes"/>
      <Shortcut Id="hdhomeruntray_exe_shortcut" Directory="ProgramMenuFolder" Advertise="yes" Name="HDHomeRun System Tray" Description="HDHomeRun System Tray" WorkingDirectory="ZukiSoftBinFolder"/>
    </Component>

    <Component Id="hdhomeruntray_exe_config" Directory="HDHomeRunTrayBinFolder" Guid="CE1EC7A4-507C-487E-96BE-EC36964A9CB5">
      <File Id="hdhomeruntray.exe.config" Source="$(var.ProjectBinFolder)hdhomeruntray.exe.config" Vital="yes" KeyPath="yes"/>
    </Component>

    <Component Id="hdhomeruntray_discovery_dll" Directory="HDHomeRunTrayBinFolder" Guid="3A95EABB-D8FD-4945-89A3-918253AF419A">
      <File Id="hdhomeruntray.discovery.dll" Source="$(var.ProjectBinFolder)hdhomeruntray.discovery.dll" Vital="yes" KeyPath="yes">
      </File>
    </Component>

    <Component Id="newtonsoft_json_dll" Directory="HDHomeRunTrayBinFolder" Guid="26A88C3C-864D-4043-80B2-E49550877C93">
      <File Id="Newtonsoft.Json.dll" Source="$(var.ProjectPackagesFolder)Newtonsoft.Json.13.0.1\lib\net45\Newtonsoft.Json.dll" Vital="yes" KeyPath="yes">
      </File>
    </Component>

    <Component Id="winjs_symbols_ttf" Directory="FontsFolder" Guid="FC564FF7-9D04-49D2-B2E9-44422B19DD57">
      <File Id="winjs_symbols.ttf" Name="winjs-symbols.ttf" KeyPath="yes" TrueType="yes" Source="$(var.ProjectDependsFolder)msfonts\Symbols\winjs-symbols.ttf" />
    </Component>
    
    <Icon Id="app_ico" SourceFile="$(var.ProjectAssetsFolder)app.ico"/>
    <Property Id="ARPPRODUCTICON" Value="app_ico" />

    <UIRef Id="WixUI_hdhomeruntray" />
  
  </Product>

</Wix>
